<h2 class="source-title">{{name}}</h2>
<pre class="line-numbers"
     data-download-link
     data-src="{{rootUrl}}examples/{{directory}}/{{name}}"
><code id="{{name}}" {{#if language}}class="language-{{language}}{{/if}}"></code></pre>
