<h2 class="source-title">{{name}}</h2>
<pre class="line-numbers"
     data-download-link
     data-src="{{rootUrl}}examples/{{directory}}/{{name}}"
><code id="{{name}}" {{#if language}}class="language-{{language}}{{/if}}"></code></pre>

<div class="container tapi-paragraph">
    <div class="row p-3">
        <div class="col-md-6">
            <h2 class="source-title">{{name}}</h2>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-md-12">
            <pre class="line-numbers" data-download-link data-src="{{rootUrl}}examples/{{directory}}/{{name}}">
            <code id="{{name}}" {{#if language}}class="language-{{language}}{{/if}}">

            </code>
            </pre>
        </div>
    </div>
</div>
