<div class="container tapi-paragraph">
    <div class="row">
        <div class="col-md-10">
            <h2 class="source-title">{{name}}</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pb-3">
        <div class="col-md-12">
            <pre class="line-numbers"
                 data-prismjs-copy="Copy"
                 data-src="{{rootUrl}}examples/{{directory}}/{{name}}"
            ><code id="{{name}}" {{#if language}}class="language-{{language}}{{/if}}"></code></pre>
        </div>
    </div>
</div>
