<div class="container tapi-paragraph">
    <div class="row">
        <div class="col-md-10">
            <h2 class="source-title">{{name}}</h2>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-12">
            <pre class="line-numbers" data-src="{{rootUrl}}examples/{{directory}}/{{name}}" data-prismjs-copy="Copy" {{#if language}}class="language-{{language}}"{{/if}}>
            </pre>
        </div>
    </div>
</div>
