<link rel="stylesheet" href="{{root_url}}example.css" />

<div class="container">
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  <iframe src="https://codesandbox.io/embed/github/transportapi/usage-examples/tree/{{branch}}/src/examples/{{directory}}?hidenavigation=1&hidedevtools=1&view=preview&module=%2Fmain.js"
          style="width:70em; height:500px; border:0; overflow:hidden;"
          sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
  </iframe>

  {{>file director=directory name="main.js" language="javascript"}}
  {{>file director=directory name="index.html" language="html"}}
  {{>file director=directory name="index.css" language="css"}}
  {{>file director=directory name="response.json" language="json"}}
</div>
