<link rel="stylesheet" href="{{root_url}}navigation.css" />

{{#each examples}}
  <div class="example-container">
    <a class="example-box" href="?example={{directory}}{{../additionalUrlParameters}}">
      <h2>{{title}}</h2>
      {{description}}
    </a>
  </div>
{{/each}}
