<link rel="stylesheet" href="{{root_url}}navigation.css"/>
<link rel="stylesheet" href="https://developer.transportapi.com/tapi-dev-portal-2022.css"/>

<div class="container-md pt-3 tapi-paragraph">
    <div class="row p-3 d-flex align-items-center">
        <div class="col-md-5 order-2 order-md-1">
            <h3 class="fw-bold my-3">You can build great stuff with our APIs</h3>

            <p>We've got a great collection of simple visual examples built with CodeSandbox in JS + HTML + CSS.</p>
            <p>Draw inspiration and jump start your coding project below &#128640;</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <a class="btn btn-secondary tapi-rounded-1 fs-3 mb-4 nav-link" href="#examples" data-section="Browse examples" data-target-title="Browse examples - TransportAPI">
                            Browse examples
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 order-1 order-md-2">
            <img class="img-fluid" src="{{root_url}}media/code-image.png">
        </div>
    </div>
</div>

<div class="container tapi-paragraph">
    <div class="row p-4">
        <div class="col">
            <hr>
        </div>
        <div class="col-auto text-center">
            <h2 class="fw-bold">Browse examples by managed service</h2>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
</div>

<div class="container tapi-paragraph" id="examples">
    <div class="row p-2">
        {{#each productExamples}}
            <div class="container">
                <div class="row p-1 align-items-center">
                    <div class="col-md-1 order-1">
                        <img class="img-fluid" src="{{../root_url}}{{logo}}">
                    </div>
                    <div class="col-md-11 order-2">
                        <h2 class="fw-bold d-flex align-items-center">{{label}}</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row p-2">
                    {{#each examples}}
                        <div class="col p-2">
                            <a class="btn btn-secondary example-box tapi-rounded-1" href="?example={{directory}}{{../additionalUrlQueryParams}}">
                            <h2 class="fw-bold">{{title}}</h2>
                            {{description}}
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{#unless loggedIn}}
    <div class="container tapi-paragraph tapi-section-alternate">
        <div class="row p-3">
            <div class="col-md-6 text-center">
                <h2 class="fw-bold mb-4">Don't have an account yet?</h2>

                <a class="btn btn-primary fs-3 tapi-dark-blue mb-4 tapi-cta-btn" href="/signup" data-section="Sign up" data-target-title="Sign up">
                    Sign up
                </a>

            </div>

            <div class="col-md-6 text-center">
                <h2 class="fw-bold mb-4">Already have an account?</h2>
                <a class="btn btn-secondary fs-3 mb-4 tapi-cta-btn" href="/login" data-section="Sign in" data-target-title="Sign in">
                    Sign in
                </a>
            </div>
        </div>
    </div>
{{/unless}}
