<link rel="stylesheet" href="{{rootUrl}}layouts/example.css"/>
<link rel="stylesheet" href="https://developer.transportapi.com/tapi-dev-portal-2022.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container pt-3 tapi-paragraph">
    <row class="row p-1">
        <div class="col-md-8">
            <h2 class="fw-bold">{{title}}</h2>
        </div>
        <div class="col-md-2 text-center">
            <a class="btn btn-secondary fs-5 tapi-sources-btn" href="/signup" data-section="Edit"
               data-target-title="Edit">
                <i class="fa fa-lg fa-wrench" aria-hidden="true"></i> Edit
            </a>
        </div>

        <div class="col-md-2 text-center">
            <a class="btn btn-secondary fs-5 tapi-sources-btn" href="/login" data-section="View code"
               data-target-title="View code">
                <i class="fa fa-lg fa-github"></i> View code
            </a>
        </div>
    </row>

    <div class="row p-1">
        <div class="col-md-12">
            <p>API Endpoint:
                <a href="{{endpoint.documentationUrl}}" class="crosslink">
                    {{endpoint.path}}
                </a>
            </p>

            <div class="d-flex flex-row align-items-center">
                <p>Product:</p>
                <div><img class="img-fluid" src="{{rootUrl}}{{product.logo}}"></div>
                <p>{{product.label}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <row class="row p-3">
        <div class="col-md-12">
            <iframe src="https://examples.staging.transportapi.com/examples/{{directory}}/index.html"
                    style="width:50em; height:400px; border:0; overflow:hidden;"
                    sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
            </iframe>
        </div>
    </row>
</div>

{{>(lookup . 'filePartial') rootUrl=sourceFilesRootUrl directory=directory name="main.js" language="javascript"}}
{{>(lookup . 'filePartial') rootUrl=sourceFilesRootUrl directory=directory name="index.html" language="html"}}
{{>(lookup . 'filePartial') rootUrl=sourceFilesRootUrl directory=directory name="index.css" language="css"}}
{{>(lookup . 'filePartial') rootUrl=sourceFilesRootUrl directory=directory name="response.json" language="json"}}

{{>(lookup . 'ctaSectionPartial') loggedIn=loggedIn}}
