<link rel="stylesheet" href="{{rootUrl}}layouts/example.css" />
<link rel="stylesheet" href="https://developer.transportapi.com/tapi-dev-portal-2022.css"/>

<div class="container tapi-paragraph">
    <row class="row p-3">
        <div class="col-md-12">
            <h2 class="fw-bold">{{title}}</h2>
            <p>API Endpoint:
                <a href="{{endpoint.documentationUrl}}" class="crosslink">
                    {{endpoint.path}}
                </a>
            </p>

            <div class="d-flex flex-row align-items-center">
                <p>Product:</p>
                <div><img class="img-fluid" src="{{rootUrl}}{{product.logo}}"></div>
                <p>{{product.label}}</p>
            </div>
        </div>
    </row>
</div>
<div class="container">
    <row class="row p-3">
        <div class="col-md-12">
            <iframe src="https://examples.staging.transportapi.com/examples/{{directory}}/index.html"
                    style="width:50em; height:400px; border:0; overflow:hidden;"
                    sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts">
            </iframe>
        </div>
    </row>
</div>

{{>(lookup . 'filePartial') rootUrl=sourceFilesRootUrl directory=directory name="main.js" language="javascript"}}
{{>(lookup . 'filePartial') rootUrl=sourceFilesRootUrl directory=directory name="index.html" language="html"}}
{{>(lookup . 'filePartial') rootUrl=sourceFilesRootUrl directory=directory name="index.css" language="css"}}
{{>(lookup . 'filePartial') rootUrl=sourceFilesRootUrl directory=directory name="response.json" language="json"}}

{{>(lookup . 'ctaSectionPartial') loggedIn=loggedIn}}
